# IDE Settings (PyCharm, VS Code, etc.)
.idea/
.vscode/
*.iml

# Data and Binaries (The big files)
data/
*.npy
*.csv

# Ignore it since I have no data for this in this branch
/home/george/WorkSpace/Master/Eks1/ML/Final_Project/notebooks/01_pre_processing.ipynb

# Python environment and cache
__pycache__/
venv/
.env
.ipynb_checkpoints/
/ComputationalAssignmentPostGraduate2024_2025.docx
/page_1.html
