# IDE Settings (PyCharm, VS Code, etc.)
.idea/
.vscode/
*.iml

# Ignore the raw dataset folders
data/dataset/1_movies_per_genre/
data/dataset/2_reviews_per_movie_raw/

# Ignore the merged outputs
data/*.csv

# Ignore large archives
*.zip
*.npy

# Python environment and cache
__pycache__/
venv/
.env
.ipynb_checkpoints/
/ComputationalAssignmentPostGraduate2024_2025.docx
/page_1.html
