name: movie_ml
channels:
  - https://repo.anaconda.com/pkgs/main
  - https://repo.anaconda.com/pkgs/r
dependencies:
  - python=3.10
  - matplotlib
  - numpy
  - pandas
  - scikit-learn
  - seaborn
  - pytorch
